<main class="main">
	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="card">
              <div class="card-header">
                <i class="icon-drop"></i> Hero List Detail</div>
              <div class="card-body">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12 mb-12">
                    	<table class="table">
                      <tbody>
                          <tr>
                              <td>Region Id</td>
                              <td>{{hero.region_id}}</td>
                          </tr>
                          <tr>
                              <td>Locale</td>
                              <td>{{hero.locale}}</td>
                          </tr>
                          <tr>
                              <td>Name</td>
                              <td>{{hero.name}}</td>
                          </tr>


                        </tbody>
                    </table>

                    </div>
                </div>
              </div>
            </div>
		</div>
	</div>
</main>
