<main class="main">
	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="card">
              <div class="card-header">
                <i class="icon-drop"></i> Hero List</div>
              <div class="card-body">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12 mb-12">
                    	<table class="table">
                        <thead>
	                        <tr>
	                            <th>Region Id</th>
															<th>Locale</th>
	                            <th>Name</th>
	                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let hero of heroesList.data | paginate: { itemsPerPage: 15, currentPage: p,totalItems: heroesList.count  }">
                            <th scope="row">{{hero.region_id}}</th>
														<th>{{hero.locale}}</th>
                            <td>{{hero.name}}</td>
                        </tr>

                        </tbody>
                    </table>
										<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

                    </div>
                </div>
              </div>
            </div>
		</div>
	</div>
</main>
